.main-horse
  .content-main
    .content-main__top
      %img.image_maru{:src => "/assets/5.jpeg"}/
      %h3.toph 初心者の方向けに解説、競馬のやり方と楽しみ方！
    .content-main__table-contents 
      %h3.horse-contents　目次
      %a.content1{href:"#1"} • 競馬場またはWINSへ行こう
      %a.content1{href:"#2"} • 競馬のやり方を覚えよう
      %a.content1{href:"#3"} • 馬券の購入
      %a.content1{href:"#4"} • 当たり馬券の払い出し
      %a.content1{href:"#5"} • 編集者おすすめの馬券の買い方を真似してみてください。
    .content-main__content
      .conteth-01
        %a.horse-content{name:"1"} 競馬場またはWINSへ行こう
        %p.horse-text 皆様のお家のお近くに競馬場またはWINS(場外馬券場）はございますでしょうか？
        %p.horse-text お近くに無い方へ全国の競馬場とWINSをご紹介いたします。
      .contenth-about
        %li.table-contents 札幌競馬場
        %li.table-contents 福島競馬場
        %li.table-contents 新潟競馬場
        %li.table-contents 東京競馬場
        %li.table-contents 中山競馬場
        %li.table-contents 中京競馬場
        %li.table-contents 京都競馬場
        %li.table-contents 阪神競馬場
        %li.table-contents 小倉競馬場
        %p.horse-text  競馬開催中の競馬場の入場料は、『東京・中山・中京・京都・阪神』は200円、『札幌・函館・福島・新潟・小倉』
        %p.horse-text  が100円です。15歳未満は入場料がかからないほか、『ウインズや競馬開催をしていない競馬場』は入場料無料です。 
      .contenth-02
        %a.horse-content{name:"2"} 競馬のやり方を覚えよう
        %p.horse-text まず、競馬を始める為には、『馬券の種類と買い方』を覚える必要があります。
        %p.horse-text 下記で競馬の買い方を覚えましょう。
      .contenth-about
        %li.table-contents 単勝・・・・・1着になる馬を当てる
        %li.table-contents 複勝・・・・・3着までに入る馬を当てる
        %li.table-contents 応援馬券・・・単勝と複勝を同時に購入できる馬券
        %li.table-contents 枠連・・・・・1着と2着になる馬の『枠番号』の組み合わせを当てる
        %li.table-contents 馬連・・・・・1着と2着になる馬の『馬番号』の組み合わせを当てる
        %li.table-contents 馬単・・・・・1着と2着になる馬の馬番号を着順通りに当てる
        %li.table-contents ワイド・・・・3着までに入る2頭の組み合わせを馬番号で当てる
        %li.table-contents 三連複・・・・1着・2着・3着など連続する馬の組み合わせを馬番号で当てる
        %li.table-contents 三連単・・・・1着・2着・3着になる馬の馬番号を当てる
      .content-03
        %a.horse-content{name:"3"} 馬券の購入
        %p.horse-text 馬券の買い方は分かりましたか？
        %p.horse-text 買い方を理解できれば、次は早速馬券を買ってみましょう。
      .contenth-about-buy
        %ol
          %li.table-contents 左上にある購入するレースの『場名』部分を塗りつぶす
          %li.table-contents 右に移動して電光掲示板などに表示されている『レース番号』の数字を塗りつぶす
          %li.table-contents 『式別』の部分の『馬単』を塗りつぶす
          %li.table-contents 左下に移動して『1着・1頭目』『2着・2頭目』に予想した馬の番号を塗りつぶす
          %li.table-contents『ウラ』の部分は馬単のみに使うもので、上記で予想して選んだ馬番号が逆の場合を購入することができます
          %li.table-contents 馬券を購入する『金額』と『単位』を記入したら完了です 
      .contenth-about-get
        %ol
          %li.table-contents 自動発券機にお金を入れる
          %li.table-contents マークカードを差し込む
          %li.table-contents 画面を確認して読み込まれているかチェックする
          %li.table-contents 精算ボタンを押す
          %li.table-contents 出てきた馬券とおつりを取る
      .content-03-about
        %p.horse-text レース発走のギリギリまで馬券は購入できるため、最後まで予想をしている人も少なくありません。
        %p.horse-text もたつかないように『記入漏れやお金の用意』をしてから自動発券機に向かうのがおすすめです。
          
      .content-04
        %a.horse-content{name:"4"} 当たり馬券の払い出し
        %p.horse-text 馬券は当たりましたでしょうか？
        %p.horse-text おめでとうございます。それでは早速換金しましょう。
      .contenth-about-get
        %ol
          %li.table-contents 自動発券機にお金を入れる
          %li.table-contents マークカードを差し込む
          %li.table-contents 画面を確認して読み込まれているかチェックする
          %li.table-contents 精算ボタンを押す
          %li.table-contents 出てきた馬券とおつりを取る
      .contetn-05
        %a.horse-content{name:"5"} 編集者おすすめの馬券の買い方を真似してみてください。
        %p.horse-text 馬券を買う時、どんな買い方をしたら良いか悩むはずです。
        %p.horse-text そこで皆様におすすめの馬券の買い方を教えます。    　  

%button.back-to-top{type: "button"}
  %span.label ページの先頭へ戻る

