.page-main{:role => "main"}
  %aside
    %ul
      %li
        = link_to horse_index_path do
          %img.image_maru{:src => "assets/5.jpeg"}/
      %li
        = link_to casinos_path do
          %img.image_maru{:src => "assets/7.jpeg"}/
      %li
        = link_to boats_path do
          %img.image_maru{:src => "assets/boat1.jpeg"}/
    %button
      %img{:src => "assets/btn_open.png"}/