.main-text 
  %p  
    THE BEST GAMBLING
    %br/
    WELCO TO GAMBOR
#scene-3.scene
  #apple-1.mask
    %img{:alt => "", :src => "assets/las.jpg"}/
    .bar
    .line
  #apple-2.mask
    %img{:alt => "", :src => "assets/las.jpg"}/
    .bar
    .line
  #apple-3.mask
    %img{:alt => "", :src => "assets/las.jpg"}/
    .bar
    .line
  #apple-4.mask
    %img{:alt => "", :src => "assets/las.jpg"}/
    .bar
    .line

= render "shared/sidebth"    