.inner
  .main-slideshow
    %img{:alt => "", :height => "700", :src => "assets/4.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "700", :src => "assets/5.jpeg", :width => "1600"}/
    %img{:alt => "", :height => "700", :src => "assets/6.jpeg", :width => "1600"}/

= render "shared/sidebth"    