.header{
height: 61px;
width: 100%;
background-color:#8f8251;
}

.gambor {
  font-family: serif;
  font-weight: bold;
  font-size: 26px;
  color: white;
  position: absolute;
  top: 10px;
  left: 15px;
  font-family: 'Monoton', cursive;
  text-shadow: -1px -1px 1px rgb(175, 40, 40);
}
.gaming{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  line-height: 70px;
  
  .top-text{
    margin: 30px;
    font-family: 'Cardo', serif;
    font-size: 22px;
    text-shadow: -1px -1px 1px rgb(175, 40, 40);

  }

}

.slideshow{
  opacity: 0.8;
}